<h1>Your Articles</h1>

<h2>Your Saved Articles</h2>

<ul>
  {{#each Article}}
    {{#unless notSaved}}
      {{> Article/article-block notSaved=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Article that are sleepy!</h2>

<ul>
  {{#each Article}}
    {{#if sleepy}}
      {{> Article/cat-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Cat Name:</label>
    <input type="text" id="article" name="name">
  </div>

  <div class="form-group">
    <label for="slee">Sleepy?</label><br>
    <input type="radio" name="saved" value="1" checked> Sleepy!<br>
    <input type="radio" name="notsaved" value="0"> Awake
  </div>

  <button type="submit">Save Article</button>
</form>
